canvas{
  visibility: hidden;
}
.light {
    background-color::#ffffff ;
    color: #000000;  /**#e6b3ff colore lilla**/
    margin:0;
    padding: 0;
    font-family:ortica;

}
.dark {
    background-color:#000000 ;
    color:#ffffff;
    margin:0;
    padding: 0;
    font-family:ortica;
}
.ee {
    background-color: #ff00ff;
    color: cyan;  /**#e6b3ff colore lilla**/
    margin:0;
    padding: 0;
    font-family:ortica;
}
.border-light {
    border-bottom:1px solid black;
}
.border-dark {
    border-bottom:1px solid white;
}
.border-ee {
    border-bottom:1px solid yellow;
}
.button-ee {
  position: absolute;
  background-color: transparent;
  color: cyan;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid cyan;
  cursor: pointer;



  }
.button-ee:hover {
  position: absolute;
  background-color: cyan;
  color: #ff00ff;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid yellow;
  cursor: pointer;
  }
.button-ee:active{
  position: absolute;
  background-color: cyan;
  color: #ff00ff;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid yellow;
  transform: translateY(5px);
  cursor: pointer;


    }
.button-light{
  position: absolute;
  background-color: transparent;
  color: black;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;

  }
.button-light:hover{
  position: absolute;
  background-color: black;
  color: white;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;

  }
.button-light:active{
  position: absolute;
  background-color: black;
  color: white;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid black;
    transform: translateY(5px);
    cursor: pointer;

  }
.button-dark{
          position: absolute;
          background-color: transparent;
          color: #ffffff;
          font-family: sans-serif;;
          font-size: 14px;
          width: 30vw;
          border-radius: 25px;
          border: 1px solid #ffffff;
          cursor: pointer;



        }
.button-dark:hover{
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid #ffffff;
  cursor: pointer;


        }
.button-dark:active{
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;;
  font-size: 14px;
  width: 30vw;
  border-radius: 25px;
  border: 1px solid #ffffff;
  transform: translateY(5px);
  cursor: pointer;


        }

/**francesca**/
.francesca-dark{
  top: 15px;
  left:50%;
  transform: translate(-50%,0);
  position: absolute;
  color: #ffffff;
  font-family: sans-serif;;
  font-size: 14px;
  width: 100vw;
  text-align: center;
  cursor: default;
  }
.francesca-light{
  top: 15px;
  left:50%;
  transform: translate(-50%,0);
  position: absolute;
  color: black;
  font-family: sans-serif;;
  font-size: 14px;
  width: 100vw;
  text-align: center;
  cursor: default;
    }
.francesca-ee{
  top: 15px;
  left:50%;
  transform: translate(-50%,0);
  position: absolute;
  color: cyan;
  font-family: sans-serif;;
  font-size: 14px;
  width: 100vw;
  text-align: center;
  cursor: default;
        }

/**contatti**/
.wannasayhi-box-dark{
          width:75vw;
          height: 250px;
          background-color: black;
          visibility: visible;
          top: 50%;
          left:50%;
          margin-left: var(--mL);
          margin-top: var(--mT);
          transform: translate(-50%,-50%);
          z-index: +10;
          border: 1px solid #ffffff;
          box-shadow: 5px 5px white;


        }
.wannasayhi-box-light{
  width:75vw;
  height: 250px;
  background-color: white;
  visibility: visible;
  top: 50%;
  left:50%;
  margin-left: var(--mL);
  margin-top: var(--mT);
  transform: translate(-50%,-50%);
  z-index: +10;
  border: 1px solid black;
  box-shadow: 5px 5px black;

}
.wannasayhi-box-ee{
  width:75vw;
  height: 250px;
  background-color: #ff00ff;
  visibility: visible;
  top: 50%;
  left:50%;
  margin-left: var(--mL);
  margin-top: var(--mT);
  transform: translate(-50%,-50%);
  z-index: +10;
  border: 1px solid yellow;
  box-shadow: 5px 5px cyan;

}
.testo-base-dark{
  font-family: sans-serif;
  color:white;
  font-size: 14px
}
.testo-base-light{
  font-family: sans-serif;
  color:black;
  font-size: 14px
}
.testo-base-ee{
  font-family: sans-serif;
  color:cyan;
  font-size: 14px
}
.runner-dark{
          bottom: 5px;
          height: 2vh;
          position: absolute;
          background-color: transparent;
          color: #ffffff;
          font-family: sans-serif;;
          font-size: 14px;
          width: 100%;
          position: fixed;
          z-index: +5;
        }
.runner-light{
  bottom: 5px;
  height: 2vh;
  position: absolute;
  background-color: transparent;
  color: black;
  font-family: sans-serif;;
  font-size: 14px;
  width: 100%;
  position: fixed;
  z-index: +5;
        }
.runner-ee{
  bottom: 5px;
  height: 2vh;
  position: absolute;
  background-color: transparent;
  color: cyan;
  font-family: sans-serif;;
  font-size: 14px;
  width: 100%;
  position: fixed;
  z-index: +5;
        }


/**testo ee**/
h1 {
  font-weight: 100;
  font-size: 3vh;
  line-height: 1.3;
  cursor: default;
  text-align: center;
  top:80px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  width: 75vw;
  border: 0px solid #00ffff;
}
h1 span {
  transition: color 1s;
}
h1 span:nth-child(1n):hover {
  color:yellow;
}
h1 span:nth-child(2n):hover {
  color:yellow;

}
h1 span:nth-child(3n):hover {
  color:yellow;

  }
h1 span:nth-child(4n):hover {
  color:yellow;

  }
h1 span:hover {
      transition: color 0s;
    }
    /**h2 light**/


/**testo **/
h2 {
  font-weight: 100;
  font-size: 3vh;
  line-height: 1.3;
  cursor: default;
  text-align: center;
  top:80px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  width: 75vw;
  border: 0px solid #00ffff;
}
h2 span {
  transition: color 1s;
}
h2 span:nth-child(1n):hover {
  color:transparent;
}
h2 span:nth-child(2n):hover {
  color:transparent;
      }
h2 span:nth-child(3n):hover {
  color:transparent;
    }
h2 span:nth-child(4n):hover {
  color:transparent;
      }
h2 span:hover {
      transition: color 0s;
    }
    /**h3 dark**/

/**condizioni utili ecc**/
.light::-webkit-scrollbar {
  width: 0vw;
   }
.light::-webkit-scrollbar-track {
  background: transparent;
  border-left: 2px solid black;
  }
.light::-webkit-scrollbar-thumb {
  background-color: black;
}
.dark::-webkit-scrollbar {
  width: 0vw;
   }
.dark::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid white;
  }
.dark::-webkit-scrollbar-thumb {
  background-color: white;
}
.ee::-webkit-scrollbar {
  width: 0vw;
   }
.ee::-webkit-scrollbar-track {
  background: transparent;
  border-left: 2px solid yellow;
  }
.ee::-webkit-scrollbar-thumb {
  background-color: cyan;

}
.on {
  visibility: visible;

}
.off {
  visibility: hidden;
    }
.draggable {
  width: 0vw;
  height: 0vw;
  background: transparent;
  border-radius: 50%;
  float: left;
  top: 50%;
  left:50%;
  margin-left: var(--mL);
  margin-top: var(--mT);
  transform: translate(-50%,-50%);
  border: 0px solid red;
  z-index: +3;
  }
.container{
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left:50%;
  margin-left: var(--mL);
  margin-top: var(--mT);
  transform: translate(-50%,-50%);
  position:fixed;
  z-index: 10;
}
#mode{
  top:50px;
  right: 2vw;
}
#wannasayhi{
  position:absolute;
  left:50%;
  transform: translate(-50%,0);
  top:50px;
}
#cv{
  position:absolute;
  left:2vw;
  text-align: center;
  text-decoration:none;
  top:50px;
}
img{
  height: 25vh;
}
#vicevita-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#vicevita-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#colpevole-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#colpevole-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#riace-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#riace-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#mrseaves-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#mrseaves-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#arbus-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#arbus-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#fellini-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#fellini-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#steiner-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#steiner-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#ecovie-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
}
#ecovie-discover{
  position:absolute;
  text-align: center;
  text-decoration:none;
  bottom:50px;
  left:50%;
  transform: translate(-50%,0);
}

#illustrazioni-dida{
  bottom: 100px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
  text-align: center;
  width: 100vw;
 }
#illustrazioni-discover{
   position:absolute;
   text-align: center;
   text-decoration:none;
   bottom:50px;
   left:50%;
   transform: translate(-50%,0);
 }


a{
 color:inherit;
 text-decoration: none;
 font-size: 14px;
}
em{
  visibility: hidden;
}
@font-face {
  font-family:ortica;
  src: url(font/Ortica-Light.otf);
}
#loader-txt{
-webkit-animation: flash linear 1s infinite;
animation: flash linear 1s infinite;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

#close{
  left:50%;
  transform: translate(-50%,0);
  position: absolute;
  width: 30vw;
  bottom:25px;
}


#draggable{
-webkit-animation: flash linear 1s infinite;
animation: flash linear 1s infinite;
top:25px;
position:absolute;
left:50%;
transform:translate(-50%,0)

}
#scroll{
-webkit-animation: flash linear 1s infinite;
animation: flash linear 1s infinite;
bottom:100px;
left: 50%;
text-align: center;
transform: translate(-50%,0);
position:absolute;

}

@-webkit-keyframes flash {
0% { opacity: 1; }
50% { opacity: .1; }
100% { opacity: 1; }
}
